body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.element {
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  background-color: rgba(222, 222, 222, 0);
}

.element-1 {
  height: 712px;
  background-image: url('../images/03%20MovingImages.jpg');
  overflow: visible;
}

.element-2 {
  clear: both;
  height: 860px;
  margin-top: 40px;
  background-image: url('../images/Home.png');
}

@media(max-width: 900px) {
  body {
    font-size: 1em;
  }

  .element {
    height: 450px;
    min-height: 450px;
    background-size: cover;
  }

  .element-2 {
    margin-top: 50px;
  }
}

@media(max-width: 450px) {
  body {
    font-size: 1em;
  }

  .element-2 {
    margin-top: 20px;
  }
}